html.
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<title>Video Blender</title>
		<script type="text/javascript" src="http://www.kaizou.org/code/3rdparty/jsmanipulate/jsmanipulate.min.js"></script>
		<link rel='stylesheet' href='/styles/videoblender/videoblender.css' type='text/css' >

	</head>

	<body>

		<header>
			<h2>Video Real-time Blender Tool</h2>
		</header>

		<section>
			<video id="mVideo" width="600" height="450" style="z-index:100;" controls>
			  <source src="/videos/ice_age_trailer.mp4" type="video/mp4">
			  Your browser does not support the video tag.
			</video>
		
				
			<canvas id="myCanvas" width="600" height="338" style="border:1px solid #000000;"></canvas>



			

			<script>
			window.onload = function() {
				effect = JSManipulate.blur;
			    var c=document.getElementById("myCanvas");
			    var ctx=c.getContext("2d");

			    this.video=document.getElementById("mVideo");
			    this.video.crossOrigin="anonymous";

			    

				var count=0;
				var timeCallback = function(){
					// if (this.video.paused||this.video.ended) {
					// 	return;
					// }
					ctx.drawImage(this.video,0,0,this.video.videoWidth,this.video.videoHeight,0,0,c.width,c.height);
					var data=c.getContext("2d").getImageData(0,0,c.width,c.height);
					effect.filter(data,effect.defaultValues);
					c.getContext("2d").putImageData(data,0,0);
					setTimeout(function(){
						timeCallback();
					},20);
				}
				
				timeCallback();
			    //ctx.drawImage(,0,0);
			    
			    //create list of button
			    var ul = document.createElement("ul");
			    for (var eff in JSManipulate){
			    	var li = document.createElement("li");
			    	var input = document.createElement("input");
			    	input.type="radio"
			    	input.name="effects"
			    	input.value=eff;
			    	input.id = eff;
			    	input.addEventListener("click",function(evn){
			    		effect=JSManipulate[this.value];
			    	});
			    	li.appendChild(input);	
			    	var label = document.createElement("label");
			    	label.innerHTML=JSManipulate[eff].name;
			    	label.setAttribute("for",input.id);
			    	li.appendChild(label);
			    	ul.appendChild(li);
			    }
			    effectButtonArea = document.getElementById("effectButtonArea");
			    effectButtonArea.appendChild(ul);

			};
			
			</script>

		</section>

		<article id="effectButtonArea">
			<i>If the second screen got lagged in some effects, that's normal. Some works are heavier to process than usual ;)</i>
		</article>


		<footer>
			<h2>About this app</h2>
			<p>This app is created for apply the blender using canvas and some other JS technique</p>
			<p>Copyright 2016 Peter Nguyen</p>
		</footer>

	</body>
	
//-	https://lh3.googleusercontent.com/Th3jCGsj8zzuyW5tgH-le_6mK8yjH5hPuADlX07eJq1AiQOSVr6sSKZYE4sAHmR7X42Ol6qNeg=m22?cpn=Z3E2SvmirLHC2-Ry&amp;c=WEB&amp;cver=1.20160525